__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/
eggs/
.eggs/
*.whl
pip-wheel-metadata/
__pypackages__/
.venv/
*.egg-info
.ruff_cache

.vscode/
*.code-workspace
!**/.vscode/settings.json

.DS_Store
Thumbs.db
.localized

*.log
**/tmp
site/